# folders
Backup/
img/
img-webp/
!img/.gitkeep
!img-webp/.gitkeep
music/
vid/
!music/.gitkeep
!vid/.gitkeep
img-webp-640/
img-webp-1024/
!img-webp-640/.gitkeep
!img-webp-1024/.gitkeep




# files
# gallery.saltysoya.moe.code-workspace
