# folders
Backup/
img/*
img-webp/*
img-webp-640/*
img-webp-1024/*
music/*
vid/*
tools/*
schedule/*

!img/.gitkeep
!img-webp/.gitkeep
!img-webp-640/.gitkeep
!img-webp-1024/.gitkeep
!music/.gitkeep
!vid/.gitkeep
!schedule/.gitkeep




# files
# gallery.saltysoya.moe.code-workspace
